.container-cart {
    margin: 30px 150px 50px 150px;
    text-align: center;
}

.table-cart {
    width: 1200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: 1px solid #ebebeb;
}

.title-cart {
    font-size: 40px;
    font-weight: normal;
    color: #333333;
    margin: 50px
}

.table-cart p {
    font-weight: bold;
}

#img-search {
    filter: brightness(0%);
}

.cart-num-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 1222px;
}

.buy-cart {
    height: 50px;
    text-align: center;
    width: calc(50% - 5px);
    margin-right: 9px;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 3px;
    width: 350px;
}

.buy-cart:hover {
    height: 50px;
    text-align: center;
    width: calc(50% - 5px);
    margin-right: 9px;
    align-items: center;
    background: #666666;
    color: #000000;
    border-radius: 3px;
    width: 350px;
    border: none;
}

.cart-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    margin: 0px 15px;
}

@media (max-width:739px) {
    .container-cart {
        margin: 0;
    }

    .title-cart {
        font-size: 1.5rem;
        margin: 0;
    }

    .cart-num-price {
        width: 100vw;
        flex-direction: column;
    }

    .container-item-cart {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

}