.container-content-home {
    align-items: center;
}

.section-about {
    text-align: center;
}

.title-home {
    text-align: center;
    font-size: 2rem;
}

.section-about .content {
    font-size: 1.1rem;
    margin: 0 25%;
}

.section-feedback {
    max-width: 90%;
    padding: 0.5rem 10rem;
}

.feedback-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.feedback-image img {
    width: 19vw;
}

.feedback-image>div {
    flex-basis: calc(50% -10px);
}

.br {
    background-color: #dddddd;
    height: 1px;
}

@media (max-width:1023px) {

    .title-home {
        font-size: 1.3rem;
    }

    .section-about .content {
        font-size: 1rem;
        margin: 0 5%;
    }

    .section-feedback {
        max-width: 100%;
        padding: 0.5rem 0.7rem
    }

    .feedback-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .feedback-image img {
        width: 44vw;
    }

}