.container-content-home {
    align-items: center;
    padding: 20px 150px;
}

.title-home {
    text-align: center;
    font-size: 35px;
}

.section-about .content {
    text-align: center;
    width: 660px;
    margin: 0px 256px;
    font-size: 17px;
    color: #555555;
}

.section-feedback {
    width: 100%;
    margin-left: 20px;
}

.feedback-image {
    display: flex;
    flex-wrap: wrap;

}

.feedback-image>div {
    flex-basis: calc(25% -10px);
    margin: 0px 7px 0px 0px;
}

.br {
    background-color: #dddddd;
    height: 1px;
}