.container-item {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;

}

.product-sale {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    width: 48px;
    height: 18px;
    background: #d52220;
}

.product-sale p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;

}

.container-item .product-content {
    width: 100%;
    height: 100%;
}

.product-color {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    min-height: 37px;
    flex-wrap: wrap;
}

.product-color .color-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    margin-right: 5px;
    padding: 2px;
}

.product-title {
    text-align: center;
    font-size: 1rem;
    margin: 0px 10%;
    height: 70px;
}

.product-price {
    display: flex;
    justify-content: center;

}

.product-price .price {
    color: #d52220;
    font-size: 17px;
}

.product-price .old-price {
    margin-left: 7px;
    color: #9e9e9e9e;
    font-size: 17px;
    text-decoration: line-through;

}

.product-thumb {
    display: flex;
    justify-content: center;
}

.product-thumb img {
    width: 285px;
    height: 285px;
    transition: transform 0.3s ease;
    /* Thêm transition cho hiệu ứng */
}

.product-thumb img:hover {
    transform: scale(1.1);
    /* Thu nhỏ ảnh khi hover */
}

@media (max-width:739px) {
    .product-thumb img {
        width: 140px;
        height: 135px;
    }

    .product-content {
        width: 130px;
        height: auto;
    }

    .product-title {
        font-size: 0.9rem;
        height: 100px;
    }

    .product-price .old-price,
    .product-price .price {
        font-size: 0.8rem;
    }
}