.title-category {
    font-size: 40px
}

.container-list {
    padding: 0.5rem 7rem;
}

.list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-item>div {
    flex-basis: calc(25%);
}

.list-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.list-item-text a {
    font-weight: bold;
    color: black;
}

@media (max-width:1023px) {
    .title-category {
        font-size: 20px
    }

    .container-list {
        padding: 0.5rem 1rem;
    }

    .list-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .list-item-text a {
        font-size: 0.9rem;
    }
}