.container-policy {
    width: 1200px;
    margin: 100px 134px 80px 134px;
    line-height: 30px;
}

.text-container {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title-policy {
    font-size: 40px;
    color: #333;
    text-align: center;
}

.normal {
    font-weight: normal;
}